.title {
  text-transform: uppercase;
}

.img {
  width: 450px;
}
.button {
  background-color: #e56b6f;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 5px 9px;
  color: white;
  cursor: pointer;
}

.info {
  margin-top: 160px;
  margin-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .img {
    position: relative;
    top: -50px;
  }
}
