<<<<<<< HEAD
.button {
    background-color:#e56b6f
    ;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 5px 9px;
    color: white;
    cursor: pointer;
=======
.button {
    background-color:#e56b6f
    ;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 5px 9px;
    color: white;
    cursor: pointer;
>>>>>>> 7ef078db44d0d1345469497d37671f8adfb00514
  }