.footer {
  background-color: #e56b6f75;

  padding: 5px 30px;
}
.footer li {
  cursor: pointer;
  max-width: fit-content;
}
.footer ul{max-width: fit-content;}
.footer__logo {
  display: flex;
  align-items: center;
}

.apps {
  display: flex;
}

.apps li {
  margin: 5px;
  cursor: pointer;
}
