.form-container{

    width: 400px;
    height: 500px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    /* border: solid red 1px; */
    border-radius: 20px;
    margin: 150px 0;
    background-color: #e56b6f2c;
}

.form-container input:focus,input:active{

    outline: 0;
    box-shadow: none;
}
.title{
    font-size: 1.3rem;
}
.bottom{

    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 40px;

}
.bottom a{    color: rgb(124, 13, 124);
}
.button {
    background-color:#e56b6f
    ;
    outline: 0;
    border: 0;
    width: 121px;
    
    border-radius: 10px;
    padding: 5px 9px;
    color: white;
    cursor: pointer;
  }